.success {
    color: rgb(1, 191, 1);
    font-size: 20px;
    background: lightgray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
}

.error {
    color: red;
    font-size: 20px;
    background: lightgray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
}

.blog {
  padding-left: 2px;
  border: solid black;
  border-width: 2px;
  margin-bottom: 2px
}

#login-form {
    display: flex;
    flex-direction: column;
    margin: 10px;
    max-width: 250px;
    gap: 10px;
}

#login-form button {
    width: fit-content;
}

#blog-form {
    display: flex;
    flex-direction: column;
    margin: 10px;
    max-width: 350px;
    gap: 10px;
}

#blog-form-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.blog-container {
    box-shadow: 0px 20px 10px rgba(1, 40, 58, 0.183);
    margin: 10px;
    padding: 5px 10px 5px 10px;

    h3 {
        color: gray;
    }
}

.blog-url {
    color:blue;
    text-decoration: underline;
}

.blog-user-name {
    color: gray;
}

.likes-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 10px;
}

.likes-group button {
    max-height: 35px;
    margin-top: 8px;
}